@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  padding-top: 123px;
}

main {
  background-color: white;
  color: hsl(30, 10%, 34%);
  font-family: "Outfit";

  width: 736px;
  margin: 0 auto;
  padding: 40px;

  border-radius: 24px;
}

main img {
  width: 100%;
  height: auto;

  border-radius: 12px;
}

.title {
  font-size: 40px;
  font-family: "Young Serif", sans-serif;
  font-weight: 400;

  color: hsl(24, 5%, 18%);

  margin-top: 30px;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  line-height: 1.5;

  margin-bottom: 32px;
}

.preparation {
  background-color: hsl(330, 100%, 98%);

  border-radius: 12px;

  padding: 28px;
  margin-bottom: 32px;
}

.preparation h2 {
  margin-bottom: 16px;
}

li:not(:last-child) {
  margin-bottom: 8px;
}

li {
  padding-left: 16px;
}

.preparation h2,
.preparation li::marker {
  color: hsl(332, 51%, 32%);
}

main h2 {
  margin-bottom: 24px;
}

main h2,
li::marker,
.measurement {
  color: hsl(14, 45%, 36%);
}

li {
  margin-left: 23px;
}

.table {
  display: grid;

  margin-top: 24px;

  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}

.seperator {
  border: 1px solid hsl(30, 18%, 87%);
  margin: 32px 0;
}

.table-seperator {
  border: 1px solid hsl(30, 18%, 87%);
  grid-column: span 2;
}

.measurement {
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;

  margin-top: 100px;
  margin-bottom: 15px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
