* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
}

main {
  background-color: white;

  width: 736px;
  margin: 0 auto;
  padding: 40px;

  border-radius: 24px;
}

main img {
  width: 100%;
  height: auto;

  border-radius: 12px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}